* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: @color-font-normal;
  font-size: @font-size-m;
}

.card {
  background-color: #fff;
  padding: @padding-m;
  margin: 0 @margin-l 0 0;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }
}

hr {
  background-color: #eee;
  height: 1px;
  border: none;
}

.attachment {
  width: 100%;
}