.puffer {
  flex-grow: 1;
}

.column(@width, @min-width) {
  width: 100%;
  display: block;
  margin: 0 @margin-l @margin-l 0;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @min-width) {
    width: @width*100/12%;
  }
}

.columns(@min-width) {
  & > .col-1 {
    .column(1, @min-width);
  }

  & > .col-2 {
    .column(2, @min-width);
  }

  & > .col-3 {
    .column(3, @min-width);
  }

  & > .col-4 {
    .column(4, @min-width);
  }

  & > .col-5 {
    .column(5, @min-width);
  }

  & > .col-6 {
    .column(6, @min-width);
  }

  & > .col-7 {
    .column(7, @min-width);
  }

  & > .col-8 {
    .column(8, @min-width);
  }

  & > .col-9 {
    .column(9, @min-width);
  }

  & > .col-10 {
    .column(10, @min-width);
  }

  & > .col-11 {
    .column(11, @min-width);
  }

  & > .col-12 {
    .column(12, @min-width);
  }
}

.row {
  width: 100%;
  max-width: @page-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.xs {
    .columns(0);
    flex-direction: row;
  }

  &.sm {
    .columns(@screen-sm-min);
    @media (min-width: @screen-sm-min) {
      flex-direction: row;

    }
  }

  &.md {
    .columns(@screen-md-min);
    @media (min-width: @screen-md-min) {
      flex-direction: row;

    }
  }

  &.lg {
    .columns(@screen-lg-min);
    @media (min-width: @screen-lg-min) {
      flex-direction: row;

    }
  }
}