.front-page {

}

.teaser {
  .card;
  margin-right: @margin-l;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }

  .thumbnail {
    height: 180px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header a {
    display: block;
    text-decoration: none;
    padding: @padding-m @padding-m @padding-s;
    color: @color-brand;
    font-weight: 500;
  }

  .main {
    padding: 0 @padding-m @padding-m;
  }
}